<div class="header">
    <h2>Welcome to our Adoption Service!</h2>
</div>

<div class="search">
    <input class="type" type="text" [(ngModel)] = "type" />
    <input class="startAge" type="number" [(ngModel)] = "startAge" />
    <input class="endAge" type="number" [(ngModel)] = "endAge" />
    <button class="search" (click)="searchAnimals()">Search</button>

    <ul class="adoptable">
        <li *ngFor="let animal of adoptableAnimals; index as i">
            {{animal.animalId}} - {{animal.name}}: {{animal.age}}, {{animal.type}}. {{animal.adoptable}}
            <button class="adopt" (click)="switchView()">Adopt</button>
        </li>
    </ul>
</div>

<div class="adopting" *ngIf="showAdoptionPage===true">
    <input class="petId" type="number" [(ngModel)] = "petId" />
    <input class="adopterName" type="text" [(ngModel)] = "adopterName" />
    <button class="updateStatus" (click)="adopt()">Update status</button>
</div>


